*{
	color: white;
	background-color: #2E2E2E;
}
button{
	background-color: green;
}
.center{
	border: 3px solid white;
	margin: 10px; 
}
.contact{
	width: 33%;
	box-sizing: border-box;
	display: inline-block ;
	margin: 0 auto;
}
form{
   margin: 15px;
}
